body {
	font-family: @font-family;
	font-size: @font-size;
	line-height: @line-height;
	background-color: @body-bg;
	color: @text-color;
	a {
		color: @link-color;
		text-decoration: none;
		&:hover {
			color: @link-color--hover;
			text-decoration: underline;
		}
	}
	h1 {
		font-size: @font-size--h1;
		line-height: @font-size--h1;
	}
}