//------------------------------------------------------------------------------
//  Color
//------------------------------------------------------------------------------

@body-bg:                     #fff;
@text-color:                  #333;

@link-color:                  blue;
@link-color--hover:           darken(@link-color, 20%);



//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------

@font-family:                 "Open Sans", Helvetica, Arial, sans-serif;
@font-family--serif:          Georgia, "Times New Roman", Times, serif;
@font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;

@font-size:                   14px;

@font-size--h1:               @font-size * 5;
@font-size--h2:               @font-size * 1.6;

@line-height:                 1.4em;